body{
    display: flex;
    background-color: aquamarine;
    
}
.board{ 
    display: flex;
    display: inline-block;
    background-color: gray;
    width: 750px;
    height: 750px;
}
.spinbutton{
    width: 700px;
    height: 750px;
    display: inline-block;
    background-color: green;
}

.row{
    display: flex;
    width: 750px;
    height: 50px;
    background-color: lawngreen;
}
.box{
    border: black solid 1px;
    display: inline-block;
    background-color: lightcoral;
    width: 50px;
    height: 50px;
}
.cornerbox{
    background-color: white;
    border: 0;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
button{
    width: 200px;
    height: 100px;
}